<div class="span9">
<tr>
    <td><strong><%= post.title %></strong></td></tr>
  <tr>  <td><%= post.content %></td>
<td><%= post.posted %></td>/<tr>
    <tr><td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</div>