	
	<div class="navbar navbar-inverse">
		<div class="navbar navbar-fixed-top">
	<div><%= image_tag("header_long.jpg", :alt => "tweed valley wildlife carers") %> 
</div>
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">TVWC</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'Topics',  root_path %>
                        </li>
                        <li>    
                            <%= link_to 'links',  links_path %>
                        </li>
                        <li>    
                            <%= link_to 'Stories',  stories_path %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                                <li><%= link_to 'Login',  '#' %></li>
                    </ul>
                </div>
        </div>
    </div>
</div>

</div>
</div>